<!DOCTYPE html>
<head>
    <title>教师端页面</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="background-teacher"></div>
    <div id="vm" class="center white">
        <base-group-info
            v-for="g in groups" :key="g.id"
            :gid="g.id"
            :poll="g.poll"
            :max-poll="maxPoll"
            has-detail
        >
            <div class="word-small">
                <div class="inline-top">
                    <table class="table-center">
                        <tr>
                            <td class="left table-underline">小组成员</td>
                        </tr>
                        <tr>
                            <th class="left">学号</th>
                        </tr>
                        <tr v-for="s in g.member" class="left">
                            <td>{{ s.sno }}</td>
                        </tr>
                    </table>
                </div>
                <div class="inline-top table-leftpadding">
                    <table class="table-center">
                        <tr>
                            <td class="left table-underline">得票来源</td>
                        </tr>
                        <tr>
                            <th class="left">学号</th>
                            <th class="left table-leftpadding">组号</th>
                        </tr>
                        <tr v-for="s in g.voters" class="left">
                            <td>{{ s.sno }}</td>
                            <td class="table-leftpadding">{{ s.gid }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </base-group-info>
    </div>
    <script src="js/framework/vue.js"></script>
    <script src="js/framework/jquery.js"></script>
    <script src="js/baseGroupInfo.js"></script>
    <script src="js/teacherpage.js"></script>
</body>